/* .profileFriends {
    margin: 2px;
    height: 60px;
    width: 130px;
} */


.profileFriends .circle {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(#c82d83, #f99d4c);
    background-position:right 10px bottom 10px ;
    /* filter: blur(1px); */
    background-size: 100px 100px no-repeat;
}

.profileFriends span {
    text-align: justify;
    font-size: 10px;
}

.profileFriends {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100px;
    margin: 0 5px;
}